[Interface]
Address = {{ wireguard.server.address_cidr }}
ListenPort = {{ wireguard.server.listen_port }}
PrivateKey = {{ wireguard.server.private_key }}

PostUp = nft add table wg0nat; nft 'add chain wg0nat postrouting { type nat hook postrouting priority 100 ; }'; nft add rule wg0nat postrouting oifname {{ wireguard.server.wan_interface }} ip saddr {{ wireguard.server.address_cidr }} masquerade
PostDown = nft delete table wg0nat

{% for peer in wireguard.peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.pub_key }}
PresharedKey = {{ peer.shared_key }}
AllowedIPs = {{ peer.ip_addr }}

{% endfor %}
